{% extends "base_admin.twig" %}

{% block content %}
    <div class="row column" id="admin-title">
        <h4>Epilations</h4>
    </div>

    {% if session.notification %}

        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                {{ showAlert(session.notification.type, session.notification.message, session.notification.titre)|raw }}
            </div>
        </div>
    {% endif %}

    <form action="{{ getRouteUrl('admin_epilation_edit') }}" method="post" id="form_edit_epilation">

        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <h5>Image de l'entête de la page</h5>
            </div>
        </div>

        <div class="grid-x grid-padding-x">
            {% if slide is not empty %}

                <div class="medium-6 cell">
                    <h6>Image actuelle</h6>
                    <img src="{{ image(slide.path~slide.filename) }}">
                    <hr>
                </div>

            {% endif %}

            <div class="medium-6 cell">
                <h6>Sélectionner la nouvelle image</h6>
                <input type="file" name="slide" id="slide">
            </div>
        </div>

        {#Texte des épilations#}
        <div class="grid-x grid-padding-x">
            {# Texte Description #}
            <div class="medium-6 cell">
                <label for="vocabulaire_{{ description.id }}">
                    {{ description.libelle }}
                    <textarea rows="10" id="vocabulaire_{{ description.id }}" name="vocabulaire_{{ description.id }}">{{ description.valeur }}</textarea>
                </label>
            </div>
        </div>



        {% for type, libelle in constant('App\\Tables\\Epilation::TYPES') %}
            <section>
                <div class="row column">
                    <h4>{{ libelle }}</h4>
                </div>
                <table class="table_admin_epilation" data-type="{{ type }}">
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th>Libellé</th>
                        <th>Prix</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for epilation in epilations[type] %}
                        <tr data-key="{{ epilation.id }}">
                            <td>{{ epilation.id }}</td>
                            <td><input type="text" name="libelle[{{ epilation.id }}]" value="{{ epilation.libelle }}"></td>
                            <td><input type="text" name="prix[{{ epilation.id }}]" value="{{ epilation.prix }}"></td>
                            <td><i class="fas fa-times-circle color-err fa-2x btn-delete cursor-p" title="Supprimer" data-etat="exist"></i></td>
                            <input type="hidden" name="id[{{ epilation.id }}]" value="{{ epilation.id }}">
                            <input type="hidden" name="type[{{ epilation.id }}]" value="{{ epilation.type }}">
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <button type="button" class="button small add-row" data-type="{{ type }}"><i class="fas fa-plus"></i> Ajouter une ligne</button>

                <div class="row column">
                    <hr class="full-width">
                </div>
            </section>
        {% endfor %}

        <div class="row column">
            <button type="submit" class="button"><i class="fas fa-plus"></i> Valider les modifications</button>
        </div>

    </form>


{% endblock %}

{% block javascript %}
    <script src="{{ glb['SRC_ROOT'] }}js/Admin/Epilation/list.js"></script>
{% endblock %}