{% extends "base_admin.twig" %}

{% block content %}
    <div class="row column" id="admin-title">
        <h4>Informations</h4>
    </div>

    {% if vars.notification %}

        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                {{ showAlert(vars.notification.type, vars.notification.message, vars.notification.titre)|raw }}
            </div>
        </div>
    {% endif %}


    <form method="post" action="{{ getRouteUrl('admin_information_edit') }}">
        <div class="grid-x grid-padding-x">

            {# N° de téléphone #}
            {% set voc = getVocabulaire(1, vocabulaire) %}
            <div class="medium-6 cell">
                <label for="vocabulaire_{{ voc['id'] }}">
                    {{ voc['libelle'] }}
                    <input type="text" id="vocabulaire_{{ voc['id'] }}" name="vocabulaire_{{ voc['id'] }}"
                           value="{{ vars['form_voc'][voc['id']] is defined ? vars['form_voc'][voc['id']]|phone : voc['valeur']|phone }}" class="mask-phone">
                </label>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            {# Adresse #}
            {% set voc = getVocabulaire(2, vocabulaire) %}
            <div class="medium-6 cell">
                <label for="vocabulaire_{{ voc['id'] }}">
                    {{ voc['libelle'] }}
                    <input type="text" id="vocabulaire_{{ voc['id'] }}" name="vocabulaire_{{ voc['id'] }}"
                           value="{{ vars['form_voc'][voc['id']] is defined ? vars['form_voc'][voc['id']] : voc['valeur'] }}">
                </label>
            </div>
        </div>

        <div class="grid-x grid-padding-x">
            {# Validation #}
            <div class="medium-6 cell">
                <button class="button">Valider les modifications</button>
            </div>
        </div>
    </form>
{% endblock %}
