{% extends "base_admin.twig" %}

{% block content %}
    <div class="row column" id="admin-title">
        <h4>Informations</h4>
    </div>

    {% if session.notification %}

        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                {{ showAlert(session.notification.type, session.notification.message, session.notification.titre)|raw }}
            </div>
        </div>
    {% endif %}


    <form method="post" action="{{ getRouteUrl('admin_information_edit') }}" id="form_edit_vocabulaire">
        <div class="grid-x grid-padding-x">

            {# N° de téléphone #}
            {% set voc = getVocabulaire(constant('App\\Tables\\Vocabulaire::TELEPHONE'), vocabulaire) %}
            <div class="medium-6 cell">
                <label for="vocabulaire_{{ voc['id'] }}">
                    {{ voc['libelle'] }}
                    <input type="text" id="vocabulaire_{{ voc['id'] }}" name="vocabulaire_{{ voc['id'] }}" value="{{ voc['valeur']|phone }}" class="mask-phone">
                </label>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            {# Adresse #}
            {% set voc = getVocabulaire(constant('App\\Tables\\Vocabulaire::ADRESSE'), vocabulaire) %}
            <div class="medium-6 cell">
                <label for="vocabulaire_{{ voc['id'] }}">
                    {{ voc['libelle'] }}
                    <input type="text" id="vocabulaire_{{ voc['id'] }}" name="vocabulaire_{{ voc['id'] }}"
                           value="{{ voc['valeur'] }}">
                </label>
            </div>
        </div>

        <div class="grid-x grid-padding-x">
            {# Texte massages #}
            {% set voc = getVocabulaire(constant('App\\Tables\\Vocabulaire::TEXTE_MASSAGES'), vocabulaire) %}
            <div class="medium-6 cell">
                <label for="vocabulaire_{{ voc['id'] }}">
                    {{ voc['libelle'] }}
                    <textarea rows="10" id="vocabulaire_{{ voc['id'] }}" name="vocabulaire_{{ voc['id'] }}">{{ voc['valeur'] }}</textarea>
                </label>
            </div>
        </div>

        <div class="grid-x grid-padding-x">
            {# Texte produits #}
            {% set voc = getVocabulaire(constant('App\\Tables\\Vocabulaire::TEXTE_PRODUITS'), vocabulaire) %}
            <div class="medium-6 cell">
                <label for="vocabulaire_{{ voc['id'] }}">
                    {{ voc['libelle'] }}
                    <textarea rows="10" id="vocabulaire_{{ voc['id'] }}" name="vocabulaire_{{ voc['id'] }}">{{ voc['valeur'] }}</textarea>
                </label>
            </div>
        </div>

            {# Horaires d'ouverture #}
            {% set voc = getVocabulaire(constant('App\\Tables\\Vocabulaire::HORAIRES'), vocabulaire) %}
            <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                    <hr>
                    <h4>Horaires d'ouvertures</h4>
                    <h6 class="subheader"><em>Laisser vide si partie de la journée fermé</em></h6>
                </div>
            </div>
            {% for key, horaire in voc['valeur'] %}
                <div class="grid-x grid-padding-x">
                    <div class="medium-12 cell">
                        <h5>{{ constant('App\\Tables\\Vocabulaire::HORAIRES_JOURS')[key]|capitalize }}</h5>
                    </div>
                </div>
            <div class="grid-x grid-padding-x">
                <div class="small-6 medium-3 large-2 cell">
                    <label for="vocabulaire_{{ voc['id'] }}_{{ key }}_am">Matin</label>
                    <input type="text" class="timepicker" name="vocabulaire_{{ voc['id'] }}_{{ key }}_am" id="vocabulaire_{{ voc['id'] }}_{{ key }}_am" value="{{ horaire|split('-')[0] }}">
                </div>
                <div class="small-6 medium-3 large-2 cell">
                    <label for="vocabulaire_{{ voc['id'] }}_{{ key }}_pm">Après midi</label>
                    <input type="text" class="timepicker" name="vocabulaire_{{ voc['id'] }}_{{ key }}_pm" id="vocabulaire_{{ voc['id'] }}_{{ key }}_pm" value="{{ horaire|split('-')[1] }}">
                </div>
            </div>
            {% endfor %}

        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <hr>
            </div>
        </div>

        <div class="grid-x grid-padding-x">
            {# Validation #}
            <div class="medium-6 cell">
                <button class="button">Valider les modifications</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascript %}
    <script src="{{ glb['SRC_ROOT'] }}js/Admin/Vocabulaire/edit.js"></script>
{% endblock %}