<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L'escale beauté</title>
    <link rel="stylesheet" href="{{ glb['SRC_ROOT'] }}css/admin.css">
    <link rel="stylesheet" href="{{ glb['SRC_ROOT'] }}css/imagehover/imagehover.css">
    <link rel="stylesheet" href="{{ glb['SRC_ROOT'] }}css/jquery.timepicker.min.css">
    <script defer src="{{ glb['SRC_ROOT'] }}js/vendor/fontawesome-all.js"></script>
</head>

<body>
<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper="">
        <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas="" data-position="left"
             aria-hidden="true" data-offcanvas="mquiey-offcanvas">
            <div class="row column" id="admin_logo">
                <a href="{{ getRouteUrl("base") }}"><img src="{{ glb['SRC_ROOT'] }}img/logo_noir.png">
                    <span>L'escale beauté</span>
                </a>
            </div>
            <div class="row column">
                <ul class="vertical menu menu_list">
                    <li>
                        <a href="{{ getRouteUrl("admin_information") }}">
                            <span class="fa-layers fa-fw">
                              <i class="fas fa-circle fa-lg"></i>
                              <i class="fas fa-info color-second" data-fa-transform="shrink-6 right-1"></i>
                            </span>
                            <span>Informations</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ getRouteUrl("admin_apropos") }}">
                            <span class="fa-layers fa-fw">
                              <i class="fas fa-circle fa-lg"></i>
                              <i class="fas fa-font color-second" data-fa-transform="shrink-6 right-1"></i>
                            </span>
                            <span>A propos</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ getRouteUrl("admin_slider") }}">
                            <span class="fa-layers fa-fw">
                              <i class="fas fa-circle fa-lg"></i>
                              <i class="fas fa-images color-second" data-fa-transform="shrink-6 right-1"></i>
                            </span>
                            <span>Carroussel</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ getRouteUrl("admin_categorie") }}">
                            <span class="fa-layers fa-fw">
                              <i class="fas fa-circle fa-lg"></i>
                              <i class="fas fa-code-branch color-second" data-fa-transform="shrink-6 right-1"></i>
                            </span>
                            <span>Catégories</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ getRouteUrl("admin_service") }}">
                            <span class="fa-layers fa-fw">
                              <i class="fas fa-circle fa-lg"></i>
                              <i class="fas fa-handshake color-second" data-fa-transform="shrink-6 right-1"></i>
                            </span>
                            <span>Services</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ getRouteUrl("admin_gamme") }}">
                            <span class="fa-layers fa-fw">
                              <i class="fas fa-circle fa-lg"></i>
                              <i class="fas fa-female color-second" data-fa-transform="shrink-6 right-1"></i>
                            </span>
                            <span>Gammes des produits</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ getRouteUrl("admin_produit") }}">
                            <span class="fa-layers fa-fw">
                              <i class="fas fa-circle fa-lg"></i>
                              <i class="fas fa-dolly color-second" data-fa-transform="shrink-6 right-1"></i>
                            </span>
                            <span>Produits</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="off-canvas-content" data-off-canvas-content="">
            <div class="title-bar hide-for-large">
                <div class="title-bar-left">
                    <button class="menu-icon" type="button" data-open="my-info" aria-expanded="false"
                            aria-controls="my-info"></button>
                    <span class="title-bar-title">L'escale beauté</span>
                </div>
            </div>

            <div id="admin_content">
                {% block content %}
                {% endblock %}
            </div>


        </div>
        <div class="js-off-canvas-exit"></div>
    </div>
</div>
{#<div class="reveal" id="modal" data-reveal data-close-on-click="true"></div>#}
<script src="{{ glb['SRC_ROOT'] }}js/vendor/jquery.js"></script>
<script src="{{ glb['SRC_ROOT'] }}js/vendor/what-input.js"></script>
<script src="{{ glb['SRC_ROOT'] }}js/vendor/foundation.js"></script>
<script src="{{ glb['SRC_ROOT'] }}js/vendor/jquery.mask.js"></script>
<script src="{{ glb['SRC_ROOT'] }}js/vendor/jquery.matchHeight.js" type="text/javascript"></script>
<script src="{{ glb['SRC_ROOT'] }}js/vendor/jquery.timepicker.min.js"></script>
<script src="{{ glb['SRC_ROOT'] }}js/base.js"></script>
{% block javascript %}
{% endblock %}
</body>

</html>
