<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L'escale beauté</title>
    <link rel="stylesheet" href="{{ glb['SRC_ROOT'] }}css/base.css">
    <script defer src="{{ glb['SRC_ROOT'] }}js/fontawesome-all.min.js"></script>
</head>

<body>

<div class="page-loader none">
    <div id="loader-content">
        <div id="loader-img">
            <div id="loader-img-border"></div>
            <img src="{{ image("logoFondBlanc.svg") }}" alt="l'escale beauté"/>
        </div>

        <p id="loader-text1">L'escale beauté se prépare ...</p>
        <p id="loader-text2">Veuillez patienter ...</p>
    </div>
</div>


<header>
    <!-- Barre info -->
    <div class="top-bar">
        <div class="top-bar-right">
            <ul class="menu">
                <li><i class="fas fa-phone fa-sm" data-fa-transform="rotate-100"></i> {{ getVocabulaire(1)|phone }}</li>
                <li><i class="fas fa-map-marker-alt fa-sm"></i> {{ getVocabulaire(2) }}</li>
                <li><i class="far fa-clock fa-sm"></i> Ouvert</li>
            </ul>
        </div>
    </div>


    <div class="grid-x text-center">
        <div class="cell" id="menu-image">
            <a href="{{ glb['HTTP_ROOT'] }}"><img src="{{ glb['SRC_ROOT'] }}img/logo_full.png"></a>
        </div>

    </div>

    <div id="nav-bar">
        <ul class="vertical medium-horizontal menu align-center">
            <li><a href="{{ glb['HTTP_ROOT'] }}"><img src="{{ glb['SRC_ROOT'] }}img/logo_noir.png"/></a></li>
            {% for menu1 in menu %}
                <li class="menu-dropdown"><a href="#">{{ menu1.libelle | upper }}</a>
                    {% if menu1.sub is defined and menu1.sub %}
                        <ul class="sub-menu hidden">
                            {% for menu2 in menu1.sub %}
                                <li class="sub-dropdown"><a href="#">{{ menu2.libelle }}</a>
                                    {% if menu2.sub is defined and menu2.sub %}
                                        <ul class="sub-menu-2 hidden">
                                            {% for menu3 in menu2.sub %}
                                                <li><a href="#">{{ menu3.libelle }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                </li>

            {% endfor %}
        </ul>
    </div>
    <!-- Slider -->
    <div class="orbit" id="slider" role="region" aria-label="Favorite Space Pictures" data-orbit>
        <div class="orbit-wrapper">
            <div class="orbit-controls">
                <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
            </div>
            <ul class="orbit-container" style="height: 100px;">
                <li class="is-active orbit-slide">
                    <figure class="orbit-figure">
                        <img class="orbit-image" src="{{ glb['SRC_ROOT'] }}img/slider/1.png" alt="Space">
                        <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
                    </figure>
                </li>
                <li class="orbit-slide">
                    <figure class="orbit-figure">
                        <img class="orbit-image" src="{{ glb['SRC_ROOT'] }}img/slider/2.png" alt="Space">
                        <figcaption class="orbit-caption">Lets Rocket!</figcaption>
                    </figure>
                </li>
            </ul>
        </div>
        <nav class="orbit-bullets">
            <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span
                        class="show-for-sr">Current Slide</span></button>
            <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
        </nav>
    </div>
</header>


{# Contenu #}
{% block content %}
{% endblock %}


<footer>
    <div id="pre-footer">
            <a href="https://www.facebook.com/people/Lescale-Beaut%C3%A9-Sainte-Savine/100014319492079" target="_blank" id="follow-us" class="text-center">
                <p><i class="fab fa-facebook-square fa-2x"></i>Suivez-nous sur Facebook</p>
            </a>
    </div>

    <div id="footer" class="grid-x">
        <div class="cell large-auto medium-auto small-centered text-center">
            <img src="{{ glb['SRC_ROOT'] }}img/logo_inversed.png" alt="Logo L'escale beauté" id="footer-image">
        </div>
        <div class="cell large-auto medium-auto small-6">
            <p>Accès rapide</p>
            <ul>
                <li><a href="#">Massages</a></li>
                <li><a href="#">Soins visages</a></li>
                <li><a href="#">Hammam</a></li>
                <li><a href="#">Epilations</a></li>
                <li><a href="#">Produits</a></li>
            </ul>
        </div>
        <div class="cell large-auto medium-auto small-6">
            <p>Informations légales</p>
            <ul>
                <li><a href="#">CGU</a></li>
                <li><a href="#">mentions Légales</a></li>
            </ul>
        </div>
        <div class="cell large-auto medium-auto small-6">
            <p>Contactez-nous</p>
            <ul>
                <li>06 06 06 06 06</li>
                <li>lescalebeaute@gmail.com</li>
            </ul>
        </div>
        <div class="cell large-auto medium-auto small-6">
            <p>Nos partenaires</p>
        </div>
        <div class="cell large-auto medium-auto small-6">
            <p>Suivez-nous</p>
        </div>

    </div>
</footer>


<script src="{{ glb['SRC_ROOT'] }}js/vendor/jquery.js"></script>
<script src="{{ glb['SRC_ROOT'] }}js/base.js"></script>
<script src="{{ glb['SRC_ROOT'] }}js/vendor/what-input.js"></script>
<script src="{{ glb['SRC_ROOT'] }}js/vendor/foundation.js"></script>
<script src="{{ glb['SRC_ROOT'] }}js/jquery.matchHeight.js" type="text/javascript"></script>
</body>

</html>
