<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L'escale beauté</title>
    <link rel="stylesheet" href="{{ glb['ASSET_ROOT'] }}css/foundation.css">
    <link rel="stylesheet" href="{{ glb['ASSET_ROOT'] }}css/base.css">
</head>

<body>

    <div class="page-loader">
        <div id="loader-content">
            <div id="loader-img">
                <div id="loader-img-border"></div>
                <img src="{{ image("logoFondBlanc.svg") }}" alt="l'escale beauté" />
            </div>

            <p id="loader-text1">L'escale beauté se prépare ...</p>
            <p id="loader-text2">Veuillez patienter ...</p>
        </div>
    </div>

    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">Site Title</li>
                <li>
                    <a href="#">One</a>
                    <ul class="menu vertical">
                        <li><a href="#">One</a></li>
                        <li><a href="#">Two</a></li>
                        <li><a href="#">Three</a></li>
                    </ul>
                </li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">

            </ul>
        </div>
    </div>



    {# Contenu #}
    {% block content %}
    {% endblock %}


    <script src="{{ glb['ASSET_ROOT'] }}js/vendor/jquery.js"></script>
    <script src="{{ glb['ASSET_ROOT'] }}js/base.js"></script>
    <script src="{{ glb['ASSET_ROOT'] }}js/vendor/what-input.js"></script>
    <script src="{{ glb['ASSET_ROOT'] }}js/vendor/foundation.js"></script>
</body>

</html>
