<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L'escale beauté</title>
    <link rel="stylesheet" href="{{ glb['SRC_ROOT'] }}css/base.css">
    <link rel="stylesheet" href="{{ glb['SRC_ROOT'] }}css/jquery.timepicker.min.css">
    <script defer src="{{ glb['SRC_ROOT'] }}js/vendor/fontawesome-all.js"></script>
</head>

<body>
<div class="page-loader{{ session.chargement == true ? '' : ' none' }}">
    <div id="loader-content">
        <div id="loader-img">
            <div id="loader-img-border"></div>
            <img src="{{ image("logoFondBlanc.svg") }}" alt="l'escale beauté"/>
        </div>

        <p id="loader-text1">L'escale beauté se prépare ...</p>
        <p id="loader-text2">Veuillez patienter ...</p>
    </div>
</div>


<header>
    <!-- Barre info -->
    <div class="top-bar hide-phone">
        <div class="top-bar-right">
            <ul class="menu">
                <li><i class="fas fa-phone fa-sm" data-fa-transform="rotate-100"></i> {{ getVocabulaire(constant('App\\Tables\\Vocabulaire::TELEPHONE'))|phone }}</li>
                <li><i class="fas fa-map-marker-alt fa-sm"></i> {{ getVocabulaire(constant('App\\Tables\\Vocabulaire::ADRESSE')) }}</li>
                <li><i class="far fa-clock fa-sm"></i> {% if isOpen() is same as(true) %}Ouvert{% else %} Fermé{% endif %}</li>
            </ul>
        </div>
    </div>


    <div class="grid-x text-center">
        <div class="cell" id="menu-image">
            <a href="{{ getRouteUrl("base") }}"><img src="{{ glb['SRC_ROOT'] }}img/logo_full.png"></a>
        </div>

    </div>

    <div id="nav-bar">
        <ul class="vertical medium-horizontal menu align-center">
            <li><a href="{{ getRouteUrl("base") }}"><img src="{{ glb['SRC_ROOT'] }}img/logo_noir.png"/></a></li>
            {% for menu1 in menu %}
                <li class="menu-dropdown"><a href="{{ getRouteUrl('categorie_liste', {id: menu1.id, libelle: toAscii(menu1.libelle)}) }}">{{ menu1.libelle | upper }}</a>
                    {% if menu1.sub is defined and menu1.sub %}
                        <ul class="sub-menu hidden hide-phone">
                            {% for menu2 in menu1.sub %}
                                <li class="sub-dropdown"><a href="{{ getRouteUrl('categorie_liste', {id: menu2.id, libelle: toAscii(menu2.libelle)}) }}">{{ menu2.libelle }}</a>
                                    {#{% if menu2.service is defined and menu2.service %}#}
                                    <ul class="sub-menu-2 hidden">
                                        {% for menu3 in menu2.service|slice(0, 5) %}
                                            <li>
                                                <a href="{{ getRouteUrl("service_detail", {'id':menu3.id, 'libelle':toAscii(menu3.libelle)}) }}">{{ menu3.libelle }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    {#{% endif %}#}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                </li>

            {% endfor %}
            <li class="menu-dropdown"><a href="{{ getRouteUrl('epilations') }}">EPILATIONS</a></li>
            <li class="menu-dropdown"><a href="{{ getRouteUrl('liste_produits') }}">PRODUITS</a></li>
            <li class="menu-dropdown"><a href="{{ getRouteUrl('a_propos') }}">A PROPOS</a></li>
        </ul>
    </div>
    {% if slider is defined %}
        <!-- Slider -->
        <div class="orbit" id="slider" role="region" aria-label="Carroussel" data-orbit>
            <div class="orbit-wrapper">
                <div class="orbit-controls">
                    <button class="orbit-previous"><span class="show-for-sr">Précédent</span>&#9664;&#xFE0E;</button>
                    <button class="orbit-next"><span class="show-for-sr">Suivant</span>&#9654;&#xFE0E;</button>
                </div>
                <ul class="orbit-container" style="height: 100px;">
                    {% for key, slide in slider %}
                        <li class="{{ key == 0 ? 'is-active ' : '' }}orbit-slide">
                            <figure class="orbit-figure">
                                <img class="orbit-image" src="{{ image(slide.image.path~slide.image.filename) }}" alt="Space">
                            </figure>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <nav class="orbit-bullets">
                {% for key, slide in slider %}
                    <button class="{{ key == 0 ? 'is-active' : '' }}" data-slide="{{ key }}"></button>
                {% endfor %}
            </nav>
        </div>
    {% elseif image_header is defined and image_header is not empty %}

        <div>
            <img class="orbit-image" src="{{ image(image_header) }}">
        </div>


    {% endif %}
</header>


{# Contenu #}
{% block content %}
{% endblock %}

<footer>
    <div id="pre-footer">
        <a href="{{ getVocabulaire(constant('App\\Tables\\Vocabulaire::FACEBOOK_URL')) }}" target="_blank" id="follow-us" class="text-center">
            <p><i class="fab fa-facebook-square fa-2x"></i><span>Suivez-nous sur Facebook</span></p>
        </a>
    </div>

    <div id="footer" class="grid-x">
        <div class="cell large-auto medium-auto small-centered text-center">
            <img src="{{ glb['SRC_ROOT'] }}img/logo_inversed.png" alt="Logo L'escale beauté" id="footer-image">
        </div>
        <div class="cell large-auto medium-auto small-6">
            <p>Accès rapide</p>
            <ul>
                <li><a href="#">Massages</a></li>
                <li><a href="#">Hammam</a></li>
                <li><a href="{{ getRouteUrl('epilations') }}">Epilations</a></li>
                <li><a href="{{ getRouteUrl('liste_produits') }}">Produits</a></li>
            </ul>
        </div>
        <div class="cell large-auto medium-auto small-6">
            <p>Informations légales</p>
            <ul>
                <li><a href="#">CGU</a></li>
                <li><a href="#">mentions Légales</a></li>
            </ul>
        </div>
        <div class="cell large-auto medium-auto small-6">
            <p>Contactez-nous</p>
            <ul>
                <li>{{ getVocabulaire(constant('App\\Tables\\Vocabulaire::TELEPHONE'))|phone }}</li>
                <li>{{ getVocabulaire(constant('App\\Tables\\Vocabulaire::MAIL')) }}</li>
            </ul>
        </div>
        <div class="cell large-auto medium-auto small-6">
            <p>Nos partenaires</p>
        </div>
        <div class="cell large-auto medium-auto small-6">
            <p>Suivez-nous</p>
        </div>

    </div>
</footer>


<script src="{{ glb['SRC_ROOT'] }}js/vendor/jquery.js"></script>
<script src="{{ glb['SRC_ROOT'] }}js/vendor/what-input.js"></script>
<script src="{{ glb['SRC_ROOT'] }}js/vendor/foundation.js"></script>
<script src="{{ glb['SRC_ROOT'] }}js/vendor/jquery.matchHeight.js" type="text/javascript"></script>
<script src="{{ glb['SRC_ROOT'] }}js/vendor/jquery.mask.js"></script>
<script src="{{ glb['SRC_ROOT'] }}js/vendor/jquery.timepicker.min.js"></script>
<script src="{{ glb['SRC_ROOT'] }}js/base.js"></script>

{% block javascript %}
{% endblock %}
</body>

</html>
