{% extends "base_admin.twig" %}

{% block content %}
    <div class="row column" id="admin-title">
        <h4>Ajouter un service</h4>
    </div>

    {% if session.notification %}

        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                {{ showAlert(session.notification.type, session.notification.message, session.notification.titre)|raw }}
            </div>
        </div>
    {% endif %}

    {{ dump(categories) }}

    <form method="post" id="form_new_service" action="{{ getRouteUrl('admin_service_new_process') }}"
          enctype="multipart/form-data">
        <div class="grid-x grid-padding-x">
            {# Catégorie #}
            <div class="medium-6 cell">
                <label for="categorie">Catégorie</label>
                <select name="categorie" id="categorie">
                    <option value="">Sélectionner une catégorie</option>
                    {% for categorie in categories %}
                        {% if categorie.sub is defined and categorie.sub %}
                            <optgroup label="{{ categorie.libelle }}">
                                {% for category in categorie.sub %}
                                    <option value="{{ category.id }}">{{ category.libelle }}</option>
                                {% endfor %}
                            </optgroup>
                        {% elseif categorie.niveau_max == 0 %}
                            <option value="{{ categorie.id }}">{{ categorie.libelle }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="grid-x grid-padding-x">

            {# Libellé #}
            <div class="medium-6 cell">
                <label for="libelle">
                    Libellé
                    <input type="text" name="libelle" id="libelle"
                           value="{{ vars['post']['libelle'] is defined ? vars['post']['libelle'] : '' }}">
                </label>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            {# Description #}
            <div class="medium-6 cell">
                <label for="descrition">Description</label>
                <textarea name="description" id="descrition"
                          rows="10">{{ vars['post']['description'] is defined ? vars['post']['description'] : '' }}</textarea>
            </div>
        </div>

        <div class="grid-x grid-padding-x">
            {# Validation #}
            <div class="medium-12 cell">
                <h5>Tarif(s) du service</h5>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            {# Validation #}
            <div class="medium-3 cell">
                <label for="tarif_type">Type de tarif</label>
                <select name="tarif_type" id="tarif_type">
                    <option value="1" selected>Durée</option>
                    <option value="2">Fixe</option>
                </select>
            </div>
        </div>

        <div class="tarif_duree">
            <div id="liste_tarifs_duree"></div>
            <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                    <button type="button" class="button" id="add_tarif_input"><i class="fas fa-plus"></i> Ajouter un
                        autre tarif
                    </button>
                </div>
            </div>
        </div>
        <div class="tarif_fixe hidden">
            <div class="grid-x grid-padding-x">
                <div class="medium-2 cell">
                    <label for="tarif_fixe">Tarif</label>
                    <div class="input-group">
                        <span class="input-group-label">€</span>
                        <input class="input-group-field mask-float" type="text" id="tarif_fixe" name="tarif_fixe">
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <hr>
            </div>
        </div>

        <div class="grid-x grid-padding-x">
            {# Validation #}
            <div class="medium-12 cell">
                <h5>Ajout d'image(s)</h5>
            </div>
        </div>
        <div id="block_uploader">
        </div>
        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <button type="button" class="button" id="add_image_input"><i class="fas fa-plus"></i> Ajouter une autre
                    image
                </button>
            </div>
        </div>

        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <hr>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            {# Validation #}
            <div class="medium-6 cell">
                <button class="button">Valider</button>
            </div>
        </div>
    </form>


{% endblock %}


{% block javascript %}
    <script src="{{ glb['SRC_ROOT'] }}js/Admin/Service/service.js"></script>
    <script src="{{ glb['SRC_ROOT'] }}js/Admin/Service/new.js"></script>
{% endblock %}