<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L'escale beauté - Erreur {{ message }}</title>
    <link rel="stylesheet" href="{{ glb['SRC_ROOT'] }}css/foundation.css">
    <link rel="stylesheet" href="{{ glb['SRC_ROOT'] }}css/error.css">
</head>

<body>


<div class="page-error">
    <div id="error-content">
        <p id="error-text1">
            Erreur<br>
            {{ error }}
        </p>
        <p id="error-text2">{{ message }}</p>
    </div>
</div>



<script src="{{ glb['SRC_ROOT'] }}js/vendor/jquery.js"></script>
<script src="{{ glb['SRC_ROOT'] }}js/base.js"></script>
<script src="{{ glb['SRC_ROOT'] }}js/vendor/what-input.js"></script>
<script src="{{ glb['SRC_ROOT'] }}js/vendor/foundation.js"></script>
</body>

</html>
