{% extends "base.twig" %}

{% block content %}




    <section>
        {# Affichage du titre #}
        {% include('titre.twig') with {'titre': 'Nos massages', 'texte': 'Découvrez nos <span>massages</span> du bout du monde', 'logo' : 'left'} only %}

        <div class="grid-container bloc-galerie">

            {# Bloc de description #}
            <div class="grid-x grid-margin-x grid-margin-y align-top">

                <div class="cell small-12 medium-5 large-4 galerie-description" data-match="1">
                    <p class="titre">Détendez-vous !</p>
                    <p class="description">{{ getVocabulaire(constant('App\\Tables\\Vocabulaire::TEXTE_MASSAGES')) }}</p>
                    <a href="{{ getRouteUrl("massages") }}">VOIR TOUS LES MASSAGES</a>
                </div>

                <div class="cell small-12 medium-7 large-8" data-match="1">

                    <div class="grid-x grid-margin-x grid-margin-y align-top">
                        {% for massage in massages %}
                        <div class="cell small-6 medium-8 large-6">
                            <div class="image-gallerie">
                                <a href="{{ getRouteUrl('categorie_liste', {id:massage.id, libelle: toAscii(massage.libelle)}) }}">
                                    <div class="image-gallerie-centent">
                                        <img src="{{ image(massage.image.path~massage.image.filename) }}">
                                        <div class="image-gallery-hover">
                                            <p class="image-gallery-hover-text">
                                                <span class="image-gallery-hover-libelle">{{ massage.libelle }}</span>
                                                {{ massage.description|length > 400 ? massage.description|slice(0, 400) ~ '...' : massage.description }}
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>

        </div>
    </section>

    <section>
        {# Affichage du titre #}
        {% include('titre.twig') with {'titre': 'Nos produits', 'texte': 'Découvrez nos <span>produits</span> à retrouver en institut', 'logo' : 'right'} only %}

        <div class="grid-container bloc-galerie">

            {# Bloc de description #}
            <div class="grid-x grid-margin-x grid-margin-y align-top">

                <div class="cell small-12 medium-7 large-8 liste-articles" data-match="2">

                    <div class="grid-x grid-margin-x grid-margin-y align-top">
                        {% for produit in produits|slice(0, 4) %}
                            <div class="cell small-6 medium-6 large-3 bloc-article">
                                <div class="image-article">
                                    <span class="image-helper"></span>
                                    <img src="{{ image(produit.image.path~produit.image.filename) }}">
                                </div>
                                <p class="libelle-article">{{ produit.libelle }}</p>
                                <p class="marque-article">{{ produit.gamme.libelle }}</p>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="grid-x grid-margin-x grid-margin-y align-top">
                        {% for produit in produits|slice(4, 4) %}
                            <div class="cell small-6 medium-6 large-3 bloc-article">
                                <div class="image-article">
                                    <span class="image-helper"></span>
                                    <img src="{{ image(produit.image.path~produit.image.filename) }}">
                                </div>
                                <p class="libelle-article">{{ produit.libelle }}</p>
                                <p class="marque-article">{{ produit.gamme.libelle }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="cell small-12 medium-5 large-4 galerie-description" data-match="2">
                    <p class="titre">Retrouvez les en institut !</p>
                    <p class="description">{{ getVocabulaire(constant('App\\Tables\\Vocabulaire::TEXTE_PRODUITS')) }}</p>
                    <a href="{{ getRouteUrl("liste_produits") }}">VOIR TOUS LES PRODUITS</a>
                </div>
            </div>

        </div>
    </section>

    <section>
        {# Affichage du titre #}
        {% include('titre.twig') with {'titre': 'Nos secrets beauté', 'texte': 'Notre <span>expértise</span> au service de votre bien être', 'logo' : 'left'} only %}

        <div class="grid-container bloc-galerie">

            {# Bloc de description #}
            <div class="grid-x grid-margin-x grid-margin-y align-top">
                <div class="cell small-12 medium-6 large-4">
                    <a href="{{ getRouteUrl('hammam') }}">
                        <img src="{{ image('hammam.jpg') }}">
                    </a>
                </div>
                <div class="cell small-12 medium-6 large-4 show-for-large">
                    <img src="{{ image('black_img.png') }}">
                </div>
                <div class="cell small-12 medium-6 large-4{#medium-offset-3 large-offset-0#}">
                    <a href="https://www.cinqmondes.com/fr/">
                        <img src="{{ image('cinq_mondes.jpg') }}">
                    </a>
                </div>
            </div>

        </div>
    </section>
{% endblock %}