{% extends "base.twig" %}

{% block content %}
    <section>
        {# Affichage du titre #}
        {% include('titre.twig') with {'titre': '', 'texte': '', 'logo' : 'left'} only %}

        <div class="grid-container bloc-galerie">

            {# Bloc de description #}
            <div class="grid-x grid-margin-x grid-margin-y align-top">

                <div class="cell small-12 medium-5 large-4 galerie-description" data-match="1">
                    <p class="titre">{{ categorie.libelle }}</p>
                    <hr>
                    <p class="description">{{ categorie.description }}</p>
                    <a href="{{ getRouteUrl('base') }}">RETOUR A L'ACCUEIL ></a>
                </div>

                <div class="cell small-12 medium-7 large-8" data-match="1">

                    <div class="grid-x grid-margin-x grid-margin-y align-top">

                        {% for category in categories %}

                            <div class="cell small-6 medium-8 large-6">
                                <div class="image-gallerie">
                                    <a href="{{ getRouteUrl('categorie_liste', {id:category.id, libelle: toAscii(category.libelle)}) }}">
                                        <div class="image-gallerie-centent">
                                            <img src="{{ image(category.image.path~category.image.filename) }}">
                                            <div class="image-gallery-hover">
                                                <p class="image-gallery-hover-text">
                                                    <span class="image-gallery-hover-libelle">{{ category.libelle }}</span>
                                                    {{ category.description|length > 400 ? category.description|slice(0, 400) ~ '...' : category.description }}
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        {% endfor %}
                    </div>

                </div>
            </div>

        </div>
    </section>

    <section>
        {# Affichage du titre #}
        {% include('titre.twig') with {'titre': 'Nos produits', 'texte': 'Découvrez nos <span>produits</span> à retrouver en institut', 'logo' : 'right'} only %}

        <div class="grid-container bloc-galerie">

            {# Liste de produits #}
            <div class="grid-x grid-margin-x grid-margin-y align-top">

                <div class="cell small-12 liste-articles" data-match="2">

                    <div class="grid-x grid-margin-x grid-margin-y align-top">
                        {% for produit in produits %}
                            <div class="cell small-6 medium-4 large-2 bloc-article">
                                <div class="image-article">
                                    <span class="image-helper"></span> <img src="{{ image(produit.image.path~produit.image.filename) }}">
                                </div>
                                <p class="libelle-article">{{ produit.libelle }}</p>
                                <p class="marque-article">{{ produit.gamme.libelle }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}