{% extends "base.twig" %}

{% block content %}
    <section>
        {# Affichage du titre #}
        {% include('titre.twig') with {'titre': '', 'texte': '', 'logo' : 'left'} only %}

        <div class="grid-container bloc-galerie">

            {# Bloc de description #}
            <div class="grid-x grid-margin-x grid-margin-y align-top">

                <div class="cell small-12 medium-5 large-4 galerie-description" data-match="1">
                    <p class="titre">{{ service.libelle }}</p>

                    {# Affichage des tarifs #}
                    <div class="liste_tarifs">
                        {% for tarif in service.servicePrix %}
                            {% if tarif.type == 1 %}
                            <p><i class="far fa-clock"></i> {{ tarif.libelle }}</p>
                            {% endif %}
                            <p><i class="fas fa-ticket-alt" data-fa-transform="rotate-155"></i> {{ tarif.prix }} €</p>
                        {% endfor %}

                    </div>

                    <hr>

                    <p class="description">{{ service.description }}</p>
                    <a href="#">RETOUR AUX MASSAGES ></a>
                </div>

                <div class="cell small-12 medium-7 large-8" data-match="1">

                    <div class="grid-x grid-margin-x grid-margin-y align-top">

                        {% for image in service.serviceImage %}

                        <div class="cell small-6 medium-8 large-6">
                            <img src="{{ image(image.image.path~image.image.filename) }}">
                        </div>

                        {% endfor %}
                    </div>

                </div>
            </div>

        </div>
    </section>

    <section>
        {# Affichage du titre #}
        {% include('titre.twig') with {'titre': 'Nos produits', 'texte': 'Découvrez nos <span>produits</span> à retrouver en institut', 'logo' : 'right'} only %}

        <div class="grid-container bloc-galerie">

            {# Bloc de description #}
            <div class="grid-x grid-margin-x grid-margin-y align-top">

                <div class="cell small-12 liste-articles" data-match="2">

                    <div class="grid-x grid-margin-x grid-margin-y align-top">
                        <div class="cell small-6 medium-4 large-2 bloc-article">
                            <div class="image-article">
                                <span class="image-helper"></span>
                                <img src="{{ image('produit.jpg') }}">
                            </div>
                            <p class="libelle-article">Gommage facile</p>
                            <p class="marque-article">Guinot</p>
                        </div>
                        <div class="cell small-6 medium-4 large-2 bloc-article">
                            <div class="image-article">
                                <span class="image-helper"></span>
                                <img src="{{ image('produit.jpg') }}">
                            </div>
                            <p class="libelle-article">Gommage facile</p>
                            <p class="marque-article">Guinot</p>
                        </div>
                        <div class="cell small-6 medium-4 large-2 bloc-article">
                            <div class="image-article">
                                <span class="image-helper"></span>
                                <img src="{{ image('produit.jpg') }}">
                            </div>
                            <p class="libelle-article">Gommage facile</p>
                            <p class="marque-article">Guinot</p>
                        </div>
                        <div class="cell small-6 medium-4 large-2 bloc-article">
                            <div class="image-article">
                                <span class="image-helper"></span>
                                <img src="{{ image('produit.jpg') }}">
                            </div>
                            <p class="libelle-article">Gommage facile</p>
                            <p class="marque-article">Guinot</p>
                        </div>
                        <div class="cell small-6 medium-4 large-2 bloc-article">
                            <div class="image-article">
                                <span class="image-helper"></span>
                                <img src="{{ image('produit.jpg') }}">
                            </div>
                            <p class="libelle-article">Gommage facile</p>
                            <p class="marque-article">Guinot</p>
                        </div>
                        <div class="cell small-6 medium-4 large-2 bloc-article">
                            <div class="image-article">
                                <span class="image-helper"></span>
                                <img src="{{ image('produit.jpg') }}">
                            </div>
                            <p class="libelle-article">Gommage facile</p>
                            <p class="marque-article">Guinot</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}